header.bg-indigo-600.p-4
  .container.mx-auto.flex.justify-between.items-center
    h1.text-2xl.text-white.font-extrabold.text-center Bienes 
      span.font-normal Raices 

    nav(class="my-2 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
      a(href="/auth/registro") Crear Cuenta
      a(href="/auth/login") Iniciar Sesión

div(class="bg-indigo-700 py-5 hidden lg:block")
  div(class="container mx-auto flex justify-between")
    a(href="/categorias/1" class="text-sm font-bold uppercase text-white") Casa
    a(href="/categorias/2" class="text-sm font-bold uppercase text-white") Departamento
    a(href="/categorias/3" class="text-sm font-bold uppercase text-white") Bodega
    a(href="/categorias/4" class="text-sm font-bold uppercase text-white") Cabaña
    a(href="/categorias/5" class="text-sm font-bold uppercase text-white") Terreno
    a(href="/categorias/6" class="text-sm font-bold uppercase text-white") Local
    a(href="/categorias/7" class="text-sm font-bold uppercase text-white") Oficina
    a(href="/categorias/8" class="text-sm font-bold uppercase text-white") Galpón
    a(href="/categorias/9" class="text-sm font-bold uppercase text-white") Quinta
    a(href="/categorias/10" class="text-sm font-bold uppercase text-white") Rancho
    a(href="/categorias/11" class="text-sm font-bold uppercase text-white") Edificio
    a(href="/categorias/12" class="text-sm font-bold uppercase text-white") Cochera
    a(href="/categorias/13" class="text-sm font-bold uppercase text-white") Lote
